<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Погодное приложение</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4"><b>Погодное приложение</b></span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Информация</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Документация</a>
      </nav>
    </div>



<div class="container">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Погода в Вашем городе</h1>
            <from action="" method="post">
                {% csrf_token %}
                <label for="city"></label>
                {{form.name}}
                <input type="submit" name="send" value="Добавить" class="mt-2 btn btn-danger">
            </from>
        </div>

        <div class="col-4 offset-1">
            <h1>Информаиця</h1>
            <label for="city"></label>

            {% for info in all_info %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9">
                        <b>Город:</b> {{info.city}} <br>
                        <b>Температура:</b> {{info.temp}} <sup>o</sup>
                    </div>

                    <div class="col-2" offset-2>
                        <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды" class="img-thumbnail">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>












</body>
</html>